body{
    background: white !important;
}
img{
    max-width: 100%;
}
.headerPage{
    box-shadow: none;
    padding-bottom: 10px;
}
#isMain{
    width: 100%;
    background: #efefef;
}
/* =================================== STYLE NAVTOP ======================================= */


.wp-nav-top .top-nav li{
    background: #e1e1e1;
    /* position: relative; */
}
.wp-nav-top .top-nav li a,.span-nav-top{
    height: 40px;
    line-height: 40px;
    position: relative;
    background: #efefef;
    color: #999;
    display: block;
    font-size: 13px;
    padding-right: 10px;
    margin-right: 20px;

}
.wp-nav-top .top-nav li .span-nav-top{
    margin: 0;
    padding: 0;
}
.top-nav li a::before, .top-nav li a::after, 
.top-nav li .span-nav-top::before, .top-nav li .span-nav-top::after{
    content: '';
    position: absolute;
    border: 0px solid #efefef;
    border-width: 20px 7px 20px 17px;
    top: 0;
}

.top-nav li a::before, .top-nav li .span-nav-top::before{
    left: -24px;
    border-left-color: transparent;
}
.top-nav li a::after, .top-nav li .span-nav-top::after{
    right: -21px;
    border-color: transparent transparent transparent #efefef;
}

.top-nav li:first-child a::before{
    border: none;
}
.top-nav li:last-child .span-nav-top::after{
    border: none;
}


/* =================================== STYLE INFOPRODUCT ======================================= */


/* STYLE pd-images */


.wp-PdPage{
    padding-top: 20px;
}
.pd-img-thumbs{
    width: 80px;
    text-align: center;
}
.pd-images .pd-img-thumbs .list-thumbs li{
    display: block;
    margin-bottom: 5px;
}
.list-thumbs li.active{
    border: 1px solid #ff523b;
}
.list-thumbs li img.img-thumbnail{
    border-radius: 0px;
}
.wrap-pd-images .featured-img{
    width: calc(100% - 90px);
    margin-left: 10px;
}
.wrap-pd-images .featured-img>a:hover{
    cursor: zoom-in;
}


/* STYLE overlay-image */

.overlay-image{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 30;
    display: none;
    animation: fadeEffect .5s;
}

.overlay-image .wrap-overlay{
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 650px;
    height: auto%;
    background: #F9F9F9;
    padding: 15px;
    border-radius: 5px;
}
.wrap-overlay>.image-zoom{
    height: 100%;
    background: #fff;
    border-radius: 5px;
}
.wrap-overlay>.image-zoom>a{
    position: absolute;
    width: 36px;
    height: 36px;
    top:-15px;
    right: -15px;
    background-image: url(../images/product/fancybox_sprite.webp);
}





/* STYLE pd-info */

.wrap-pd-info .title-pd{
    font-size: 23px;
}
.pd-box.List-info-desc{
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}
.pd-box.List-info-desc ul li{
    font-size: 13px;
    margin-right: 18px;
    font-weight: bold;
}
.pd-box.List-info-desc ul li>span{
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
}

/* STYLE pd-wrap-price */
.pd-price-box-info .pd-wrap-price{
    border-right: 1px solid #eaeaea;
}
.wrap-box-info{
    padding: 10px 0;
}
.wrap-box-info .pd-price{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.pd-price .item{
    color: #999;
    margin-bottom: 5px;
}
.pd-price .item .pd-label-price{
    display: inline-block;
    width: 120px;
    font-size: 14px;
}
.pd-price #pd-price-number{
    font-size: 18px;
    /* font-weight: 500; */
    color: #d21212;
}
.pd-price #pd-compare-price-number{
    text-decoration: line-through;
    font-style: italic;
}
.pd-price #pd-compare-sale-off{
    margin-left: 10px;
    color: #d21212;
    font-size: 14px;
}

.wrap-box-info .short-desc{
    font-size: 14px;
    color: #999;
    border-bottom: 1px solid #eaeaea;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.wrap-box-info .action-cart .group-qty{
    display: inline-block;
    background: #eaeaea;
    padding: 5px 0;
    border-radius: 5px;
    margin: 10px 0;
}
.action-cart .group-qty .decrease, .action-cart .group-qty .increase, 
.action-cart .group-qty input[type='number'], .action-cart .btn-add-cart{
    outline: none;
    border: none;
}
.action-cart .group-qty input[type='number']::-webkit-outer-spin-button,
.action-cart .group-qty input[type='number']::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.action-cart .group-qty .decrease, .action-cart .group-qty .increase{
    margin: 0 15px;
}
.action-cart .group-qty input[type='number']{
    width: 40px;
    font-size: 14px;
    color: #999;
    text-align: center;
}

.action-cart .btn-add-cart{
    width: 100%;
    outline: none;
    background: #d21212;
    border-radius: 50px;
    text-align: center;
    color: white;
    padding: 5px 0;
    font-size: 15px;
    transition: opacity .3s ease-in-out;
}
.action-cart .btn-add-cart:hover{
    opacity: 0.8;
}
.btn-add-cart>span{
    text-transform: uppercase;
    font-weight: bold;
}
.btn-add-cart>small{
    display: block;
}

/* STYLE pd-wrap-policy */
.wrap-policy .list-policy{
    padding: 5px 0;
}
.wrap-policy .list-policy>.item{
    padding: 10px 0;
    border-bottom: 1px dashed #eaeaea;
    /* display: block; */
}
.wrap-policy div.box>div.icon{
    width: 35px;
    display: inline-block;
    margin-right: 5px;
}
.wrap-policy div.box>div.detail{
    width: calc(100% - 45px);
    display: inline-block;
    vertical-align: middle;
}
.wrap-policy div>.detail>h5{
    font-size: 13px;
    margin-bottom: 2px;
}
.wrap-policy div>.detail>div{
    font-size: 12px;
    font-style: italic;
}


/* =================================== STYLE TABS ======================================= */

.pd-tab-info .list-tabs{
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
}
.pd-tab-info .list-tabs .btn-tab{
    outline: none;
    border: none;
    border-bottom: 3px solid white;
    float: left;
    background: transparent;
    padding: 7px 10px;
    transition:all .3s ease-in-out;
}
.list-tabs .btn-tab.active, .list-tabs .btn-tab:hover{
    color: #ff523b;
    border-bottom: 3px solid #d21212;
}

/* STYLE tab-content */
.pd-tab-info .tab-content{
    display: none;
    animation: fadeEffect 1s;
}
@keyframes fadeEffect{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.pd-tab-info .tab-content .wrap-chi-tiet{
    padding: 20px;
}
.wrap-chi-tiet>h5{
    color: #555;
}
.wrap-chi-tiet>p>span{
    font-weight: bold;
}
.wrap-chi-tiet>p{
    font-size: 14px;
    line-height: 2;
}
.wrap-chi-tiet>img{
    margin-bottom: 15px;
}

.pd-tab-info .wrap-so-sanh{
    margin: 10px 0;
    position: relative;
}

.wrap-so-sanh .tab-item{
    width: calc(100% / 6.5);
    position: relative;
    margin-right: 12px;
    text-align: center;
    padding: 5px;
    transition: box-shadow .3s ease-in-out;
    display: inline-block;
}
.wrap-so-sanh .tab-item:last-child{
    margin-right: 0;
}
.tab-item:hover{
    box-shadow: 0 5px 10px #999;
}
.tab-item .label-top{
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 5;
    background: #d21212;
    padding: 2px 10px;
}
.tab-item .label-top>a{
    color: #e3d8d8;
}
.tab-item .image-zoom>img{
    transform: rotateY(0deg);
    transition: all .4s ease-in-out;
}
.tab-item .image-zoom:hover>img{
    transform: rotateY(180deg);
}
.tab-item .pd-Loopname{
    font-size: 15px;
    padding: 10px 0;
}
.tab-item .pd-Loopname>a{
    color: black;
}




.wp-footer{
    padding-top: 30px;
    background: white;
}